body{
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
    width:100%;
    height:600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
   background-size: cover;
   
}
h1 {
    text-align: center;
    color:white;
    margin: 50px auto;
    font-size: 35px;
}

img{
    width:100px;
}

table{
    background-color: #95bfd4;
    width:90%;
    margin:0 auto;
    text-align: center;
}
tr th{
   padding: 20px;
   text-align: center;
   font-size: 22px;
}

th span{
    font-size: 22px;
}
tr td{
    padding: 18px;
    font-size: 22px;
}
.total td{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.but{
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(94,0,0);
    color: white;
 }
 .content{
     margin-top: 10px;
     margin-left: 35px;
 }
 .btn{
     background-color: rgb(94,0,0);
     border-radius: 50%;
     font-size: 16px;
     color: white;
     margin: 0 8px;
 }
 .btn2{
     background-color: rgb(94,0,0);
     border-radius: 50%;
     font-size: 16px;
     color: white;
     margin: 0 2px;
 }
 
 .but2{
     background-color: rgb(94,0,0);
     color: white;
  }
  .btn3{
    background-color: rgb(94,0,0);
    font-size: 22px;
    color: white;
    margin: 0 2px;
    border-radius: 5%;
  }
  .btn3:hover{
    background-color: burlywood;
  }
 