<body>
 <h1>Shopping Cart</h1>


   <div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">price</th>
              <th scope="col">quantity</th>
              <th scope="col">add</th>
              <th scope="col">remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems; let i=index">
              <td scope="row"><span>{{item.Prodotto}}</span></td>
              <td>{{item.qty}}</td>
              <td>{{item.price}}€</td>
              <td><button class="btn2"><i class= "fa fa-minus" (click)="dec(item)"></i></button>
                <button class="btn2"><i class= "fa fa-plus" (click)="inc(item)"></i></button></td>
                <td style="cursor: pointer;"><button class="btn2"><i class="fa fa-trash" (click)="deleteItem(item, i)" ></i></button></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td> <strong>Costo consegna: {{cartTotal > ordineMinimo? 0 : costoConsegna }} €</strong></td>  
              <td><strong>Total :  {{ cartTotal > ordineMinimo ? cartTotal : (cartTotal + costoConsegna)}}€</strong></td>  
              <td><button class="btn3"><a class="nav-link active" [routerLink] ="['/riepilogo']">Submit</a></button></td>
            </tr>
           
          </tbody>
    </table>
  </div>
 </body>
 

