body{
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
    width:100%;
    height:600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
   background-size: cover;
   
}
h1 {
    text-align: center;
    color:white;
    margin: 50px auto;
    font-size: 35px;
}

img{
    width:100px;
}
/*table{
    margin:10px auto;
    width: 95%;
   background-color: #95bfd4;
   
    text-align: center;
}*/
table{
    background-color: #95bfd4;
    width:90%;
    margin:0 auto;
    text-align: center;
}
th{
   padding: 20px;
   text-align: center;
  
}
span{
    font-size: 18px;
}
/*th span{
    font-size: 22px;
}
td{
    padding: 15px;
    font-size: 18px;
}
.total td{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}*/

.but{
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgb(94,0,0);
    color: white;
 }
 .content{
     margin-top: 10px;
     margin-left: 35px;
 }
 .btn{
     background-color: rgb(94,0,0);
     border-radius: 50%;
     font-size: 16px;
     color: white;
     margin: 0 8px;
 }
 .btn2{
   
     background-color: rgb(94,0,0);
     border-radius: 50%;
     font-size: 16px;
     color: white;
     margin: 0 2px;
 }
 
 .but2{
    
 
     background-color: rgb(94,0,0);
     color: white;
  }
  
 