
<div class="div">
    <div class=" style">
       <nav class="navbar navbar-light bg-light">
         <div class= " container-fluid">
           <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
           </form>
          </div>
        </nav>
    </div> 
  <div class="container1" >
   <mat-card class="example-card" *ngFor="let card of cards">
    <img mat-card-image [src]= "card.img">         
   </mat-card>     
  </div>
</div>