body{
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
  
    width:100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
footer{
     
  width: 100%;
}
.container2{
  width:26%;
  display: flex;
  justify-content: start;
 margin-left: 5%;

}
.container{
  width:36%;
  display: flex;
  justify-content:end;
 margin-left: 45%;

}
@media only screen and (max-width: 600px){
  .container2{
    width:80%;
    display: flex;
    justify-content:start;
   margin-left: 5%;
  
  }
  .container{
    width:80%;
    display: flex;
    justify-content:start;
   margin-left: 10%;
}
}