body{
    min-height: 650px;
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    text-align: center;
    font-size: 35px;
    color:white;
}
.container{
    width:100%;
    min-height: 600px;
    margin-top: 80px;
}
.example-card{
    width:210px;
   
    margin: 40px auto;
    border-radius: 5px;
    min-height: 370px;
    background-color:burlywood; 
 }

 /*.small{
     width: 380px;
     margin-left: 0px;
     margin-top: 50px;
    background-color: rgb(163, 139, 108);
    height: fit-content; 
}*/

.small{
   
    margin-top: 50px;
  
   height: fit-content; 
   
}
.but{
   margin-left: 50px;
   margin-top: 10px;
   background-color: rgb(94,0,0);
   color: white;
}
.content{
    margin-top: 10px;
    margin-left: 35px;
}
.btn{
    background-color: rgb(94,0,0);
    border-radius: 50%;
    font-size: 16px;
    color: white;
    margin: 0 8px;
}
.btn2{
    width:25px;
    background-color: rgb(94,0,0);
    border-radius: 50%;
    font-size: 10px;
    color: white;
    margin: 0 2px;
}

.but2{
   
     width:10px;
    background-color: rgb(94,0,0);
    color: white;
 }
 i{
     margin-left: 5px;
 }
 i:hover{
     cursor: pointer;
     background-color: orange;
 }
 .btn4{
    
     border-radius: 5px;
     margin-bottom: 10px;
 }
 .btn4:hover{
     background-color: rgb(0, 255, 255);
 }
 @media only screen and (max-width: 600px){
     .small{
         width:350px;
     }
   
 }
