body{
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
    height:100%;
    width:100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.example-card{
    width:450px;
    background-color: rgb(19, 18, 18);
    margin: 130px auto 40px;
   
    border-radius: 5px;
    border: 1px solid rgb(153, 22, 22)
}
.example-card:hover{
    box-shadow: 3px 3px 3px 3px gold;
    cursor: pointer;
}

.mat-card-image{
    width:90px;
    border-radius: 5px;
    margin-left: 60px;
}
button{
    margin-left: 20px;
    width:110px;
}

.card-container{
    font-size: 35px;
    background-color: rgb(224, 150, 224);
    padding: 20px;
    color: rgb(15, 14, 14);
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .card-container2{
    background-color: rgb(41, 23, 41);
    padding: 50px;
    color: white;
    width: 100%;
    margin-bottom: 30px;
    
  }
  .type{
      color: ivory;
     font-size: 25px;
  }

  a{
      color:white;
      font-size: 20px;
      text-decoration:none;
  }

@media only screen and (max-width: 600px){
    .example-card{
        width:350px;
        
        margin: 70px auto;
        border-radius: 5px;
    }
}