body{
    min-height: 650px;
    background-image: url("https://raw.githubusercontent.com/nirmalieo3/FoodDeliveryLab/master/img/photo3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
  width:100%;
  background-color: thistle;
  opacity:.9;
  min-height: 500px;
  margin-top: 80px;
}
h3,h2{
    font-weight: 600;
}


table{
    width:60%;
    color:black;
    margin: 50px auto;
    font-size: 22px;
}
h1{
    text-align: center;
     padding-top: 20px;
}
input{
    margin: 10px auto;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
/*.style{
    background-color: cornflowerblue;
    margin:50px;
    width:60%;
}*/
.btn a{
    color:white;
}
.example-card{
    max-width: 430px;
    min-height:370px;
    background-color: burlywood;
    margin:0 auto;
   }
.submit-btn{
    width:80%;
   
    margin: 0 auto;
}
.btn{
    height:50px;
}


mat-card-content{
    
    text-align: center;
}
